.about-img-wrapper {
    position: relative;
  }

/* ::before pseudo-element */
.about-img-wrapper::before {
    content: '';
    position: absolute;
    border-top: 30px solid #ebf1fa;
    border-bottom: 30px solid #ebf1fa;
    border-left: 30px solid #ebf1fa;
    top: 65px;
    left: 160px;
    bottom: 65px;
    width: 384px;
}

@media (max-width: 768px) {
  .about-img-wrapper::before {
    border-top: 15px solid #ebf1fa;
    border-bottom: 15px solid #ebf1fa;
    border-left: 15px solid #ebf1fa;
    left: 20px;
    right: 20px;
    bottom: 50px;
   
  }
}
